QToolBar {
	border: none;
	padding: 15px 4px;
	background:
		qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
			stop: 0 #a6a6a6, stop: 0.08 #7f7f7f,
			stop: 0.44999 #717171, stop: 0.45 #626262,
			stop: 0.9 #4c4c4c, stop: 1 #333333);
}

QToolBar QToolButton {
	color: #111;
	border: 2px solid #555;
	border-radius: 3px;
	padding: 1px 2px;
	margin: 0 2px;
	font-size: 12px;
	background:
		qradialgradient(cx: 0.3, cy: -0.4, fx: 0.3, fy: -0.4,
			radius: 1.35, stop: 0 #fff, stop: 1 #aaa);
}

QToolBar QToolButton[popupMode="2"] {
	padding-right: 10px;
}

QToolBar QToolButton:hover {
	background:
		qradialgradient(cx: 0.3, cy: -0.4, fx: 0.3, fy: -0.4,
			radius: 1.35, stop: 0 #fff, stop: 1 #bbb);
}

QToolBar QToolButton:pressed {
	background:
		qradialgradient(cx: 0.4, cy: -0.1, fx: 0.4, fy: -0.1,
			radius: 1.35, stop: 0 #fff, stop: 1 #ddd);
}

QTreeWidget {
	border: 1px solid #aaa;
	background-color: #eee;
}

QTreeWidget QHeaderView::section {
	font-size:12px;
	height:23px;
	padding-left:5px;
	border: none;
	border-bottom:1px solid #aaa;
	background:
		qradialgradient(cx: 0.4, cy: -0.1, fx: 0.4, fy: -0.1,
			radius: 1.35, stop: 0 #eee, stop: 1 #ccc);
}

QSplitter {
	width:2px;
	background-color: #ccc;
	border:none;
}

PlotterChart, PlotterTable {
	border:1px solid #aaa;
}

PlotterTable {
	background-color:#fff;
}

